# Metadati
.directory

# kitty terminal
kitty/*.conf.bak
kitty/current-theme.conf

# nvim
lazy-lock.json

# spicetify
spicetify/*
!spicetify/config-xpui.ini
!spicetify/marketplace.bak
!spicetify/Extensions/*

# onedrive
onedrive/*
!onedrive/config

# systemd
systemd/*/*.wants

# rclone
rclone/*.conf

# zsh
.zcompdump

# btop
btop/btop.log
