[user]
	email = papagniluca4@gmail.com
	name = lu-papagni
[credential]
	helper = cache --timeout 21600
	helper = oauth
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[core]
	editor = nvim --cmd \"let g:git_editor=1\"
[init]
	defaultBranch = main
