# Metadati
.directory

# kitty terminal
kitty.conf.bak

# nvim
lazy-lock.json

# spicetify
spicetify/*
!spicetify/config-xpui.ini
!spicetify/marketplace.bak
!spicetify/Extensions/*

# onedrive
onedrive/*
!onedrive/config

# systemd
systemd/*/*.wants
