
@define-color backg rgba(28, 28, 28, .8);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
	  font-family: "Fira Code Nerd Font Ret", sans-serif;
    font-size: 1rem;
}

.modules-right, .modules-left, .modules-center {
  margin-top: 5px;
	padding: .25em;
  min-height: 35px;
  border-radius: 15px;
	background-color: @backg;
  color: black;
}

tooltip {
  background-color: @backg;
  padding: .25em;
  border: 2px solid @theme_selected_bg_color;
  border-radius: 15px;
  margin: -90px;
}

/* Calcolo bordi innestati rispetto al border-radius delle barre */
#clock,
#custom-power-menu,
#custom-swaync,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#pulseaudio-slider,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#workspaces button,
#window,
#language,
#bluetooth,
#mpd {
  border-radius: calc(15px - .25em);
}

/* Gruppi */
box#resources > widget:not(:first-child):not(:last-child) > *,
box#datetime > widget:not(:first-child):not(:last-child) > *,
box#controls > widget:not(:first-child):not(:last-child) > *,
box#multimedia > widget:not(:first-child):not(:last-child) > *
{
  border-radius: calc((15px - .25em) / 2);
}

box#resources > widget:first-child > *,
box#datetime > widget:first-child > *,
box#controls > widget:first-child > *,
box#multimedia > widget:first-child > *
{
  border-top-right-radius: calc((15px - .25em) / 2);
  border-bottom-right-radius: calc((15px - .25em) / 2);
}

box#resources > widget:last-child > *,
box#datetime > widget:last-child > *,
box#controls > widget:last-child > *,
box#multimedia > widget:last-child > *
{
  border-top-left-radius: calc((15px - .25em) / 2);
  border-bottom-left-radius: calc((15px - .25em) / 2);
}

box#resources > widget:only-child > *,
box#datetime > widget:only-child > *,
box#controls > widget:only-child > *,
box#multimedia > widget:only-child > *
{
  border-radius: calc(15px - .25em);
}

/* Barre */
.modules-left {
	margin-left: 10px;
  padding-right: 0;
}

.modules-right {
	margin-right: 10px;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
	padding: 0 .5rem;
	margin: 2px;
    /* background-color: transparent; */
  background-color: #45475a;
  color: #cdd6f4;
}

#workspaces button {
  min-width: 0;
  background-color: transparent;
  transition: min-width 300ms, background-color 300ms;
}

#workspaces button.active {
  min-width: 3rem;
  background-color: @theme_selected_bg_color;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background-color: darker(@theme_selected_bg_color);
    color: #343618;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#mode {
    background-color: #f38ba8;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#custom-power-menu,
#custom-swaync,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#pulseaudio-slider,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#bluetooth,
#mpd {
  padding: .2rem .85rem .2rem .7rem;
	margin: .15rem;
}

#window {
    background-color: transparent;
    padding-right: .65rem;
    padding-left: .5rem;
    color: white;
    margin-top: .2rem;
}

window#waybar.empty #window {
    font-size: 0;
    margin: 0;
    padding: 0;
}

#clock {
    background-color: #eba0ac;
    color: #402b2f;
}

#custom-power-menu {
  background-color: @theme_selected_bg_color;
  margin-right: .1rem;
  transition: background-color, 300ms;
  padding-right: 1rem;
}

#custom-swaync {
  background-color: @theme_selected_bg_color;
}

#battery {
    background-color: #fab387;
}

#battery.charging, #battery.plugged {
    background-color: #a6e3a1;
    color: #2f402d;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: #2ecc71;
    color: #0f4526;
}

#memory {
    background-color: #9b59b6;
    color: #3b2245;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
    color: #2a3333;
}

#network {
    background-color: #74c7ec;
    color: #243c47;
    transition: background-color 1s, color 1s;
}

#network.disconnected {
    background-color: #585b70;
}


@keyframes bluetooth-discovering {
  from {
    background-color: blue;
    color: darker(blue);
  }
  to {
    background-color: lighter(blue);
    color: lighter(lighter(blue));
  }
}

#bluetooth {
  transition: background-color 1s, color 1s;
}

#bluetooth.on {
  background-color: blue;
}

#bluetooth.off, #bluetooth.disabled {
  background-color: gray;
}

#bluetooth.discovering {
  animation-name: bluetooth-discovering;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

#pulseaudio {
    background-color: #a6e3a1;
    color: #374d36;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#pulseaudio-slider trough, #backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
    color: #42290c;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /* background-color: #a6e3a1; */
    background-color: #45475a;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: alpha(darker(#00b093), .5);
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
