#window {
	border-radius: 15px;
	border-style: solid;
	border-color: @theme_selected_bg_color;
	border-width: 2px;
	background-color: rgba(28, 28, 28, .9);
}

#outer-box {
	font-family: "Fira Code Nerd Font Ret", "CaskaydiaCove Nerd Font";
  font-size: 1.2rem;
	margin: 12px;
}

#input {
	margin-bottom: 8px;
  border-radius: 15px;
  background-color: @theme_bg_color;
}

#entry {
	padding: 6px;
  border-radius: 15px;
}

#entry:selected {
	background-color: alpha(@theme_selected_bg_color, .5);
  font-style: italic;
}

#entry:selected label {
  text-decoration-style: solid;
  text-decoration-line: underline;
}

image {
  margin-right: .75rem;
}
