[Unit]
Description=Mount GDrive using rclone
ConditionPathIsDirectory=%h/GDrive
Wants=network-online.target
After=network-online.target
StartLimitBurst=5
StartLimitInterval=300

[Service]
# Type=forking si usa per i daemon
Type=forking
Environment="PATH=/bin:/usr/bin"
ExecStart=/usr/bin/rclone mount gdrive: %h/GDrive --daemon --vfs-cache-mode full --vfs-cache-max-age 7d --vfs-cache-max-size 1G
ExecStop=/usr/bin/fusermount -u %h/GDrive
Restart=on-failure
RestartSec=5
KillMode=mixed
StandardOutput=journal

[Install]
WantedBy=default.target
